<%- include('../inc/head.ejs') %> 
<div class="wrapper">
  <%- include('../inc/navi.ejs') %> 
  <!-- 본문내용 시작 -->
  <section class="team-wrapper content-wrapper">
    <%- include('../inc/title-bar.ejs') %> 
    <div class="sub-title"><%= subTitle %></div>
    <div class="team-wrap">
      <div class="pf">
        <img src="../img/team1.jpg" alt="me" class="w100">
        <div class="title">1번</div>
      </div>
      <div class="pf">
        <img src="../img/team2.jpg" alt="me" class="w100">
        <div class="title">2번</div>
      </div>
      <div class="pf">
        <img src="../img/team3.jpg" alt="me" class="w100">
        <div class="title">3번</div>
      </div>
      <div class="pf">
        <img src="../img/team4.jpg" alt="me" class="w100">
        <div class="title">4번</div>
      </div>
    </div>
  </section>
  <!-- 본문내용 끝 -->
  <%- include('../inc/footer.ejs') %> 
</div>
  <%- include('../inc/foot.ejs') %> 