<%- include('../inc/head.ejs') %> 
<div class="wrapper">
  <%- include('../inc/navi.ejs') %> 
  <!-- 본문내용 시작 -->
  <section class="team-wrapper content-wrapper">
    <%- include('../inc/title-bar.ejs') %> 
    <h3 class="sub-title"><%= subTitle %></h3>
    <div class="team-wrap">
      <% for(let list of lists) { %>
        <%- include('../components/list.ejs', {list}) %> 
      <% } %> 
    </div>
  </section>
  <!-- 본문내용 끝 -->
  <%- include('../inc/footer.ejs') %> 
</div>
  <%- include('../inc/foot.ejs') %> 